{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./projects/apps/styles.css",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
