@if (hasEnoughToShowThis()) {
  @let folders = store.getFolders();
  <!-- Always show the root link -->
  <ul class="flex flex-row flex-wrap">
    <li class="flex flex-row flex-wrap">
      @for (folder of folders; track $index) {
        @if (folder.name !== 'Home') {
          <ui-folder-display
            [selectedFolder]="selectedFolder()"
            [folder]="folder"
            (clicker)="setSelectedFolder($event)"
            [text]="folder.data.linkText"
            [path]="folder.path"
          ></ui-folder-display>
        }
        @for (child of folder.documents; track $index) {
          <ui-document-display
            [selected]="selectedDocument() == child.name"
            [child]="child"
            [parentSelected]="selectedFolder() == folder.name"
            [parentName]="folder.name"
            [path]="child.path"
            (click)="selectedDocument.set(child.name)"
            [text]="child.data.linkText"
          ></ui-document-display>
        }
      }
    </li>
  </ul>
}
